
<div class="new-api-page">
  <% if @exchanges.present? %>
  <div class="col-xs-2 col-sm-4" id="panel-add">
    <h2>Add your API</h2>
    <%= simple_form_for @api do |f| %>
    <%= f.collection_select :exchange_id, @exchanges, :id, :name, prompt: "Select Exchange", label:false %>
    <p><label for="publishable_key"><%= f.input :publishable_key %></label></p>
    <p><label for="secret_key"><%= f.input :secret_key %></label></p>
    <%= f.button :submit, class: "buttonfx angleinleft" %>
    <% end %>
  </div>
  <% end %>
  <div class="col-xs-4 col-sm-6 divTable" id="api-list">
    <h3 id = "api-title">API List</h3>
    <div class="col-xs-6 col-sm-8 divTableBody">
      <div class="divTableHeading">
        <div class="divTableCell">Exchange</div>
        <div class="divTableCell">Publishable Key</div>
        <div class="divTableCell">Secret Key</div>
      </div>
      <% @apis.each do |api| %>
      <div class="divTableRow">
        <div class="divTableCell api"><%= api.exchange.name %></div>
        <div class="divTableCell api"><%= api.publishable_key.sub(/(?<=\A.{4})(.*)(?=.{0}\z)/) { |match| '*' * match.length }.truncate(10, omission:"") %></div>
        <div class="divTableCell api"><%= api.secret_key.sub(/(?<=\A.{0})(.*)(?=.{0}\z)/) { |match| '*' * match.length }.truncate(10, omission: "") %></div>
        <div class="delete"> <%= link_to delete_api_path(api), method: :delete, data: { confirm: "Are You Sure?" } do %>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>